doctype html
html(lang="es")
	head
		title ProyectoFelipe
		meta(charset="utf-8")
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/public/css/app.css", rel="stylesheet")
		script(src="/socket.io/socket.io.js")
	body
		nav(class="large-padding black white-text")
			ul
				li 
					a(href="/app") Inicio
				li 
					a(href="/app/imagenes/new") Subir imagen
				li 
					a(href="/app/imagenes") Mis Imagenes
		block contenido